:root {
  --color-primary-1:hsl(0, 78%, 62%);
  --color-primary-2:hsl(180, 62%, 55%);
  --color-primary-3:hsl(34, 97%, 64%);
  --color-primary-4:hsl(212, 86%, 64%);
  --color-secondary-1:hsl(234, 12%, 34%);
  --color-secondary-2:hsl(229, 6%, 66%);
  --color-secondary-3:hsl(0, 0%, 98%);
  --color-white:hsl(0, 0%, 100%); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 1.5rem;
  background-color: var(--color-secondary-1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  margin: 0 auto;
  width: 100vw;
  padding: 3rem;
  background-color: var(--color-secondary-3);
  font-size: 2rem;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 35rem));
  grid-template-rows: repeat(3, min-content);
  grid-gap: 3rem;
  grid-template-areas: "head head head"  "box-1 box-2 box-3" "box-1 box-4 box-3";
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: repeat(2, minmax(min-content, 35rem));
      grid-template-rows: repeat(2, min-content);
      grid-template-areas: "head head"  "box-1 box-2" "box-3 box-4"; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: repeat(1, minmax(min-content, 35rem));
      grid-template-rows: repeat(5, min-content);
      grid-template-areas: "head"  "box-1" "box-2" "box-3" "box-4"; } }
  .container .item__1 {
    grid-area: head;
    align-self: stretch;
    width: 50rem;
    justify-self: center;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .container .item__1 {
        width: 50vh; } }
  .container .item:not(:first-child) {
    box-shadow: 0rem 0.7rem 1.7rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    padding: 2.5rem; }
  .container .item__2 {
    grid-area: box-1;
    border-top: 4px solid var(--color-primary-2); }
  .container .item__3 {
    grid-area: box-2;
    border-top: 4px solid var(--color-primary-1); }
  .container .item__4 {
    grid-area: box-3;
    border-top: 4px solid var(--color-primary-4); }
  .container .item__5 {
    grid-area: box-4;
    border-top: 4px solid var(--color-primary-3); }

.heading__sub {
  font-weight: 200;
  font-size: 3rem;
  color: var(--color-secondary-1); }
  @media only screen and (max-width: 37.5em) {
    .heading__sub {
      font-size: 2.3rem; } }

.heading__prime {
  font-weight: 600;
  font-size: 3rem;
  color: var(--color-secondary-1); }
  @media only screen and (max-width: 37.5em) {
    .heading__prime {
      font-size: 2.3rem; } }

.heading__details {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-secondary-2); }

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .box__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secondary-1); }
  .box__details {
    color: var(--color-secondary-2);
    font-size: 1.4rem; }
  .box__svg {
    align-self: flex-end;
    padding-top: 2.5rem; }
